@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    /* Prevent double scrollbars; inner main has overflow-auto */
}