services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: emergency_db
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
